
body  {
  background-color: #02847f;
  color: white;
}
.header {
  width:  max;
  height: 50px;
  background-color: #fbfbfb;
  margin-bottom: 5px;
}
.header ul{

}
.header img  {
  float: left;
  /* padding: 8px; */
  height: 50px;
}
.header ul li{
  float: right;
  text-align: left;
  padding: 15px;
  list-style-type: none;

  display: inline-block;
}
.header ul li a {
  color: #18d24b;
  text-decoration: none;

  }
  #my-pic {
    height: 200px;
    width: 200px;
  }
/* }
.header ul li a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

.header ul li a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

.header ul li a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.header ul li a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */


/* .column {
  float: left;
} */
